.ms-600{
    margin-left: 600px;
}
.btn-1{
    background-color: rgb(133, 132, 132);
}

.container-fluid {
    background-color: rgb(213, 178, 124);
}
.dropdown-menu{
    background-color: rgb(213, 178, 124);
}